@{
    ViewData["Title"] = "Επιβεβαίωση Εγγραφής";
}

<h2>@ViewData["Title"].</h2>
<div>
    <p>
        Ευχαριστούμε για την εγγραφή σας στην πλατφόρμα εκμάθησης. Ένα email έχει σταλεί στο λογαριασμό email που δηλώσατε. Παρακαλούμε επιβεβεώστε τον λογαριασμό email.  
    </p>
</div>