@{
    ViewData["Title"] = "Επιβεβαίωση Email";
}

<h2>@ViewData["Title"].</h2>
<div>
    <p>
        Ευχαριστούμε για την επιβεβαίωση του email. Παρακαλώ <a asp-controller="Account" asp-action="Login">Πατήστε εδώ για Σύνδεση</a>.
    </p>
</div>
