@{
    ViewData["Title"] = "Επιβεβαίωση επαναφοράς κωδικού";
}

<h1>@ViewData["Title"].</h1>
<p>
    Ο κωδικός σας έχει αλλάξει. Παρακαλώ <a asp-controller="Account" asp-action="Login">Πατήστε εδώ για είσοδο</a>.
</p>
