@{
    ViewData["Title"] = "Ποιοι είμαστε";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Είμαστε μια ομάδα μεταπτυχιακών φοιτητών που στοχεύουμε στην ανάπτυξη μίας εξατομικευμένης πλατφόρμα εκμάθησης κώδικα. Η σελίδα αναπτύσεται σε πλαίσια εργασίας μαθήματος με ανεπίσημο σκοπό την λειτουργία της ώς εργαλείο εκμάθησης κώδικα.</p>
