
@{
    ViewData["Title"] = "HTML - Introduction";
}

<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a asp-area="" asp-controller="Html" asp-action="Html1">
                   <strong> HTML5 Tutorial</strong>
                </a>
            </li>
            <li>
                <a asp-area="" asp-controller="Html" asp-action="Html1">HTML Home</a>
            </li>
            <li style="background-color:#ba02e6;">
                <a asp-area="" asp-controller="Html" asp-action="Html2">HTML Introduction</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Html" asp-action="Html3">HTML Editors</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Html" asp-action="Html4">HTML Basics</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Html" asp-action="Html5">HTML Elements</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Html" asp-action="Html6">HTML Attributes</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Html" asp-action="Html7">HTML Headings</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Html" asp-action="Html8">HTML Paragraphs</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Html" asp-action="Html9"></a>
            </li>
            <li>
                <a asp-area="" asp-controller="Html" asp-action="Html10">HTML Formating</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Html" asp-action="Html11">HTML Quotations</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Html" asp-action="Html12">HTML Computercode</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Html" asp-action="Html13">HTML Comments</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Html" asp-action="Html14">HTML Colors</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Html" asp-action="Html15">HTML CSS</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Html" asp-action="Html16">HTML Links</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Html" asp-action="Html17">HTML Images</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Html" asp-action="Html18">HTML Tables</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Html" asp-action="Html19">HTML Lists</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Html" asp-action="Html20">HTML Blocks</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Html" asp-action="Html21">HTML Classes</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Html" asp-action="Html23">HTML Iframes</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Html" asp-action="Html24">HTML JavaScript</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Html" asp-action="Html25">HTML Head</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Html" asp-action="Html26">HTML Layout</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Html" asp-action="Html27">HTML Responsive</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Html" asp-action="Html28">HTML Entities</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Html" asp-action="Html29">HTML Symbols</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Html" asp-action="Html30">HTML Charset</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Html" asp-action="Html31">HTML URL Encode</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Html" asp-action="Html32">HTML XHTML</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1>HTML Introduction</h1><a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                    <p>What is HTML?</p>
                    <p>HTML is a markup language for describing web documents (web pages).</p>
                    <ul>
                        <li>HTML stands for Hyper Text Markup Language</li>
                        <li>A markup language is a set of markup tags</li>
                        <li>HTML documents are described by HTML tags</li>
                        <li>Each HTML tag describes different document content</li>
                    </ul>
                    <hr />
                    <h1>A Small HTML Document</h1>
                    <h2>Example</h2>
                    <hr />
                    <p>
                    <code>&lt;!DOCTYPE html&gt;<br />
                        &lt;html&gt;<br />
                        &lt;head&gt;<br />
                        &lt;title&gt;Page Title&lt;/title&gt;<br />
                        &lt;/head&gt;<br />
                        &lt;body&gt;<br />
                        <br />
                        &lt;h1&gt;My First Heading&lt;/h1&gt;<br />
                        &lt;p&gt;My first paragraph.&lt;/p&gt;<br />
                        <br />
                        &lt;/body&gt;<br />
                        &lt;/html&gt;<br />
                        Try it Yourself »<br /></code></p>
                    <h2>Example Explained</h2>
                    <hr />
                    The &lt;!DOCTYPE html&gt; declaration defines this document to be HTML5<br />
                    The text between &lt;html&gt; and &lt;/html&gt; describes an HTML document<br />
                    The text between &lt;head&gt; and &lt;/head&gt; provides information about the document<br />
                    The text between &lt;title&gt; and &lt;/title&gt; provides a title for the document<br />
                    The text between &lt;body&gt; and &lt;/body&gt; describes the visible page content<br />
                    The text between &lt;h1&gt; and &lt;/h1&gt; describes a heading<br />
                    The text between &lt;p&gt; and &lt;/p&gt; describes a paragraph<br />
                    Using this description, a web browser will display a document with a heading and a paragraph.<br />
                    <hr/>
                    <h1>HTML Tags</h1>
                    <hr/>
                    <p>HTML tags are keywords (tag names) surrounded by angle brackets:</p>
                    <p></p>&lt;tagname&gt;content goes here...&lt;/tagname&gt;</p>
                    <p>HTML tags normally come in pairs like &lt;p&gt; and &lt;/p&gt;<br />
                        The first tag in a pair is the start tag, the second tag is the end tag<br />
                        The end tag is written like the start tag, but with a forward slash inserted before the tag name</p>
                    <hr/>
                    <h1>Web Browsers</h1>
                    <p>The purpose of a web browser (Chrome, IE, Firefox, Safari) is to read HTML documents and display them.<br />

                       The browser does not display the HTML tags, but uses them to determine how to display the document:</p>
                    <div style="width:99%;border:1px solid grey;padding:3px;margin:0;background-color:#ddd">
                        &lt;html&gt;
                        <div style="width:90%;border:1px solid grey;padding:3px;margin:20px">
                            &lt;head&gt;
                            <div style="width:90%;border:1px solid grey;padding:5px;margin:20px">
                                &lt;title&gt;Page title&lt;/title&gt;
                            </div>
                            &lt;/head&gt;
                        </div>
                        <div style="width:90%;border:1px solid grey;padding:3px;margin:20px;background-color:#ddd">
                            &lt;body&gt;
                            <div style="width:90%;border:1px solid grey;padding:3px;margin:20px;background-color:#fff">
                                <div style="width:90%;border:1px solid grey;padding:5px;margin:20px">&lt;h1&gt;This is a heading&lt;/h1&gt;</div>
                                <div style="width:90%;border:1px solid grey;padding:5px;margin:20px">&lt;p&gt;This is a paragraph.&lt;/p&gt;</div>
                                <div style="width:90%;border:1px solid grey;padding:5px;margin:20px">&lt;p&gt;This is another paragraph.&lt;/p&gt;</div>
                            </div>
                            &lt;/body&gt;
                        </div>
                        &lt;/html&gt;
                    </div>

                    <h1>The &lt;!DOCTYPE&gt; Declaration</h1>
                    <p>The &lt;!DOCTYPE&gt; declaration represents the document type, and helps the browser to display a web page correctly.</p>
                    <p>It must only appear once, at the top of the page (before any HTML tags). </p>
                    <p>There are different document types. To display a web page correctly, the browser must know both type and version.</p>
                    <p>The doctype declaration is not case sensitive. All cases are acceptable:</p>
                    &lt;!DOCTYPE html&gt;<br />
                    <br />
                    &lt;!doctype HTML&gt;
                    <hr/>
                    <h1>Common &lt;!DOCTYPE&gt; Declarations</h1>

                    <h2>HTML5</h2>
                    <p>
                        &lt;!DOCTYPE html&gt;
                    </p>
                    <h2>HTML 4.01</h2>
                    <p>&lt;!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"&gt;</p>
                    <h2>XHTML 1.0</h2>
                    <p>&lt;!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"&gt;</p>
                    <hr/>
                    <h1>HTML Versions</h1>
                    <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <thead>
                            <tr>
                                <th>Version</th>
                                <th>Year</th>
                            </tr>
                                </thead>
                            <tr>
                                <td>HTML</td>
                                <td>1991</td>
                            </tr>
                            <tr>
                                <td>HTML 2.0</td>
                                <td>1995</td>
                            </tr>
                            <tr>
                                <td>HTML 3.2</td>
                                <td>1997</td>
                            </tr>
                            <tr>
                                <td>HTML 4.01</td>
                                <td>1999</td>
                            </tr>
                            <tr>
                                <td>XHTML</td>
                                <td>2000</td>
                            </tr>
                            <tr>
                                <td>HTML5</td>
                                <td>2014</td>
                            </tr>
                        </tbody>
                    </table>
                        </div>
            </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
<!-- jQuery -->
<script src="~/lib/jquery/dist/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
